In [1]:
import pandas as pd

In [2]:
apple=pd.read_csv('D:\_Umesh WIP folder\_EDU HBY\___Coding Fun\AppleFinancials2.csv',skiprows=3,
                  index_col='in_million_USD')
apple_incom_st = apple.iloc[:9,1:]

In [3]:
listofyears = apple_incom_st.columns

In [4]:
for year in listofyears:
    apple_incom_st[year] = apple_incom_st[year].str.replace(",","")
    apple_incom_st[year] = apple_incom_st[year].astype(int)
apple_incom_st.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, Revenue to Net Income Available to Common Shareholders
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   FY '11  9 non-null      int32
 1   FY '12  9 non-null      int32
 2   FY '13  9 non-null      int32
 3   FY '14  9 non-null      int32
 4   FY '15  9 non-null      int32
 5   FY '16  9 non-null      int32
 6   FY '17  9 non-null      int32
 7   FY '18  9 non-null      int32
 8   FY '19  9 non-null      int32
 9   FY '20  9 non-null      int32
dtypes: int32(10)
memory usage: 432.0+ bytes

In [5]:
import regex as re

In [6]:
apple_incom_st

,FY '11,FY '12,FY '13,FY '14,FY '15,FY '16,FY '17,FY '18,FY '19,FY '20
in_million_USD,,,,,,,,,,
Revenue,108249,156508,170910,182795,233715,215639,229234,265595,260174,274515
Cost of revenue,-64431,-87846,-106606,-112258,-140089,-131376,-141048,-163756,-161782,-169559
Gross Profit,43818,68662,64304,70537,93626,84263,88186,101839,98392,104956
Operating Expenses,-10028,-13421,-15305,-18034,-22396,-24239,-26842,-30941,-34462,-38668
Operating Income (Loss),33790,55241,48999,52503,71230,60024,61344,70898,63930,66288
Non-Operating Income (Loss),415,522,1156,980,1285,1348,2745,2005,1807,803
Pretax Income (Loss),34205,55763,50155,53483,72515,61372,64089,72903,65737,67091
"Income Tax (Expense) Benefit, net",-8283,-14030,-13118,-13973,-19121,-15685,-15738,-13372,-10481,-9680
Net Income Available to Common Shareholders,25922,41733,37037,39510,53394,45687,48351,59531,55256,57411

In [7]:
apple_incom_st[apple_incom_st['in_million_USD'].str.contains('Revenue',regex=False)]

KeyError: 'in_million_USD'